body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1{
  font-size: 2.6rem !important;
  font-weight: 400 !important; 
  letter-spacing: -.02em;
  line-height: 1.2; 
  color: #161c2d;
}

h2{
  font-weight: 400 !important; 
  letter-spacing: -.02em;
  line-height: 1.2; 
  color: #161c2d;
}

h3{
  font-weight: 400 !important; 
  letter-spacing: -.02em;
  line-height: 1.2; 
  color: #161c2d;
}

h4{
  font-weight: 400 !important; 
  letter-spacing: -.02em;
  line-height: 1.2; 
  color: #161c2d;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: white !important;
  height: 30px;
}

.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.py-2 {
  color: #506690 !important;
  font-weight: 400;
}
.py-2:hover {
  color: #335eea !important;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/* Center align the text within the three columns below the carousel */

#proposal{
  background: #f5f6fe;
}


.button:active {
  transform: scale(0.9);
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border-color: #d9e2ef !important;
}
.featurette-divider2 {
  margin: 4rem 0; /* Space out the Bootstrap <hr> more */
  border-color: #d9e2ef !important;
}

/* Thin out the marketing headings */
.featurette-heading {

  line-height: 1;
 
}

.image-header {
  position: absolute;

  top: -2%;
  right: auto;
  bottom: 0;
  left: -2%;
}

.banner {
  width: 100%;
}

.bodycard {
  transition: all 0.5s;
}
.bodycard:hover {
  transform: translate(0, -10px);
  box-shadow: 7px 11px 15px -2px rgba(204, 198, 204, 1);
}

/* -------------------animaciones------------------ */

/* -------------------animaciones componente header------------------ */

.animado {
  opacity: 0;
  transition: all 0.5s;
}

.mostrarArribaHeader {
  animation: mostrarArribaHeader 1s;
  animation-delay: 0.2s;
  transition-delay: 0.2s;
}

@keyframes mostrarArribaHeader {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.mostrarDerechaHeader {
  animation: mostrarDerechaHeader 1s;
  animation-delay: 0.7s;
  transition-delay: 0.7s;
}

@keyframes mostrarDerechaHeader {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

/* -------------------animaciones componente propusal------------------ */

.card-proposal{
  background: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}
.animadoproposal {
  border: 1px solid #f5f6fe;
  opacity: 0;
  transition: all 0.5s;
}


.mostrarIzquierdaProposal {
  animation: mostrarIzquierdaProposal 1s;
  animation-delay: 0.2s;
  transition-delay: 0.2s;
}

@keyframes mostrarIzquierdaProposal {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}

.mostrarArribaProposal {
  animation: mostrarArribaProposal 1s;
  animation-delay: 0.7s;
  transition-delay: 0.7s;
}

@keyframes mostrarArribaProposal {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.mostrarDerechaProposal {
  animation: mostrarDerechaProposal 1s;
  animation-delay: 1.2s;
  transition-delay: 1.2s;
}

@keyframes mostrarDerechaProposal {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

/* -------------------animaciones componente services------------------ */

.animadoservices {
  opacity: 0;
  transition: all 0.5s;
}

.mostrarArribaService {
  animation: mostrarArribaService 1s;
  /* animation-delay: .2s;
  transition-delay: .2s; */
}

@keyframes mostrarArribaService {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ---------------animaciones componente prices------------------ */

.animadoprecios {
  opacity: 0;
  transition: all 0.5s;
}

.mostrarIzquierda {
  animation: mostrarIzquierda 1s;
  animation-delay: 0.2s;
  transition-delay: 0.2s;
}

@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}

.mostrarArriba {
  animation: mostrarArriba 1s;
  animation-delay: 0.7s;
  transition-delay: 0.7s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.mostrarDerecha {
  animation: mostrarDerecha 1s;
  animation-delay: 1.2s;
  transition-delay: 1.2s;
}

@keyframes mostrarDerecha {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}
/* ------------------------------------------------------- */

.header {
  padding-top: 80px !important;
  margin-top: 70px;
}

.h1-header {
  font-size: 2.6rem !important;
  font-weight: 400 !important; 
  letter-spacing: -.02em;
  line-height: 1.2; 
  color: #161c2d;
}

span {
  color: #3282b8 !important;
}

.lead {
  color: #869ab8 !important;
  font-size: 1.2rem;
  font-weight: 400;
}

/* ----------------------------------------- */

.contentServices {
  background-color: #f9fbfd;
  padding-top: 80px;
}

.contentServices h1 {
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 0.5rem !important;
  font-size: 2.6875rem;
}

.contentServices p {
  color: #384c74 !important;
}

.cardServicios {
  border: none;
  font-size: 0.9375rem !important;
}

#menu {
  z-index: 1;
  width: 255px;
  top: 90px;
  left: 50px;
  height: 245px;
}

.contentSertvices {
  margin-top: 90px !important;
}

.cardservices {
  transition: all 0.5s;
}

.cardservices:hover {
  transform: translate(0, -10px);
  box-shadow: 7px 11px 15px -2px rgba(204, 198, 204, 1);
}

/* ------------------------//--------------------- */

.ubicacion {
  font-weight: bold;
  font-style: normal;
}

/* --------------------//------------------------ */

.fila {
  width: 100%;
}

.cabecera-nosotros {
  width: 100%;
  height: 400px;
  /* background: #5377ed; */
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  margin-top: 60px;
  position: relative;
}

.overlay{
  height: 100%;
  width: 100%;
  opacity: .5;
  background-color:#4e98e7;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
}

.fundo-imagen {
  width: 100%;
  height: 100%;
  background-image: url(../images/fondo.jpg);
  opacity: 0.3;
  background-size: cover;
  position: relative;
}

.cabecera-title-about {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
}
.row-grid {
  opacity: 1 !important;
  position: absolute;
  color: white;
  bottom: 280px;
}

/* ----------------------//--------------------- */

.text-left-1 {
  color: #152c5b !important;
  line-height: 1.8 !important;
  font-weight: bold;
  font-size: large;
}

.map {
  margin-top: 160px !important;
  background-color: #f9fbfd !important;
  border-top: 1px solid #f1f4f8 !important;
  border-bottom: 1px solid #f1f4f8 !important;
}

.map p {
  line-height: 1.8 !important;
  font-weight: 600;
}

.texto-dark {
  color: black !important;
}

.texto-blue {
  color: #506690 !important;
}

/* ------------------footer----------------- */

.container-footer {
  background-color: #08192b;
  color: white;
}

.container-footer p {
  font-size: 14px;
}

.div-terminos p {
  font-size: 13px;
}

.div-terminos a {
  font-size: 13px;
  color: white;
  cursor: pointer;
}

.box-logofooter {
  width: 185px;
}

.box-redesfooter {
  width: 185px;
}
/* -----------------/service/----------------- */

.columna-central-servicios{
  width: 90%;
}


.fundo-imagen-service {
  width: 100%;
  height: 100%;
  background-image: url(../images/fondoservice.jpg);
  opacity: 0.3;
  background-size: cover;
  position: relative;
}

.image-postal-service {
  transition: all 0.2s;
}

.image-postal-service:hover {
  transform: scale(1.1);
  box-shadow: 7px 11px 15px -2px rgba(204, 198, 204, 1);
}

.row-grid-service {
  opacity: 1 !important;
  color: white;
}

.cabecera-title {
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
}

/* ---------------------------------------------------- */

.contenedor {
  width: 90%;
  margin: auto;
}

/* ----------------contenedor titulo controles------------------- */

.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3 {
  color: black;
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
  background: grey;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: blue;
}

/* ----------------contenedor principal y flechas------------------- */

.peliculas-recomendadas {
  margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  width: 50px;
  color: white;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* -----------------carousel------------------ */

.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 25%;
  transition: 0.3s ease all;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
  transform: scale(1.1);
  transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}

/* ------------------media-queries----------------------- */

@media screen and (max-width: 568px) {
  .peliculas-recomendadas .contenedor-carousel {
    overflow: visible;
  }

  .peliculas-recomendadas .contenedor-carousel .carousel {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  .peliculas-recomendadas .indicadores,
  .peliculas-recomendadas .flecha-izquierda,
  .peliculas-recomendadas .flecha-derecha {
    display: none;
  }
}

@media (min-width: 569px) and (max-width: 800px) {
  .peliculas-recomendadas .contenedor-carousel {
    overflow: visible;
  }

  .peliculas-recomendadas .contenedor-carousel .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .peliculas-recomendadas .indicadores,
  .peliculas-recomendadas .flecha-izquierda,
  .peliculas-recomendadas .flecha-derecha {
    display: none;
  }

  .columna-central-servicios{
    width: 100%;
  }
  
}


/* --------------------------estilos page quotation------------------------- */

.banner-quotation{
  width: 100%; 
  height: 500px; 
  background-image: url(https://landkit.goodthemes.co/assets/img/covers/cover-5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 65px;
  clip-path: ellipse(98% 71% at 47% 29%);
}

.overlay-quotation{
  height: 100%;
  width: 100%;
  opacity: .5;
  background-color:#161c2d;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  clip-path: ellipse(98% 71% at 47% 29%);
}

.title-quotation{
  /* letter-spacing: -0.02em !important; */
  line-height: 1.2 !important;
  font-size: 2.6rem !important;
  font-weight: 400!important;
  letter-spacing: -.02em;
  color: white;
}

.div-title-quotation{
  top:35%;
  left:25%;
  color:white;
}

.div-title-quotation p{
  font-size: 1.2rem;
  color:rgba(255,255,255,.75)!important;
}

#info h6 {
  letter-spacing: .08em;
  color: #506690!important;
  text-transform: uppercase!important;
  line-height: 1.55;
  font-size: .75rem;
  font-weight: 400;
}

#info a {
  font-size: 1.0625rem;
  line-height: 1.45;
  letter-spacing: -.01em;
  color: #335eea!important;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
}


/* -----------------estilos form------------------ */

.address1 {
  display: none;
}

.text-validar{
  color:red;
  font-size: 12px;
  margin-bottom: 7px;
  display: none;
}


/* ----------------estilos componente marcas -------------------- */

.logosmarcas{
  width: 100px;
}

.logosmarcas-dos{
  width: 70px;
}

/* -----------------estilos componente services------------------------ */

.image-services{
  width: 80%;
  
}

.row-service{
  background-color: #f5f6fe;
  box-shadow:  0 0.125rem 0.25rem rgba(0,0,0,0.075);
}


.number-service{
  color: #007bff!important;
}

.image-services-soporte{
  width: 70%;
}


/* ----------------estilos boton 1---------------- */

.btn-1{
  background-color:#f5f6fe ;
  font-weight: 700;
  padding: 0.6rem 1.25rem;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: #4550E6;
}

.btn-1 i {
  vertical-align: -.125em
}

.btn-1:hover{
  color: #4550E6;
  /* transform: scale(1.04); */
  -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.27);
}